:root {
  --rouge: #ff5d73;
  --gris-fonce: #494949;
  --gris-pale: #7c7a7a;
  --roboto: "roboto";
  --bebas: "Bebas Neue";
}

/*----- Styles Généraux -----*/

/* Titre de la page */
h1 {
  font-size: large;
  color: black;
  font-weight: 500;
}

/* Titre de section */
h2 {
  font-size: small;
  color: var(--gris-fonce);
  font-weight: 500;
}

/* Titre des oeuvres*/
h3 {
  font-size: medium;
  color: var(--gris-fonce);
  font-weight: 100;
}

h4 {
  font-size: small;
  color: var(--gris-fonce);
  font-weight: 100;
}

h5 {
  font-size: medium;
  color: var(--gris-fonce);
  font-weight: 100;
}

h6 {
  font-size: medium;
  color: var(--gris-fonce);
  font-weight: 100;
}

/*----- Styles Hero -----*/
