:root {
    --rouge: #ff5d73;
    --gris-fonce: #494949;
    --gris-pale: #7c7a7a;
    --roboto: "roboto";
    --bebas: "Bebas Neue";
  }

.header {
    margin-bottom: 20px;
}

.navbar {
    background-color: white;
    height: auto;
  }

  .logo {
    width: 10%;
  }

  .navbar-toggler {
    border: white;
  }
  
  .navbar-brand {
    font-weight: 700;
    font-family: var(--roboto);
  }
  

  footer {
    background-color: var(--gris-pale);
    color: white;
    font-size: small;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .logo-footer {
    width: auto;
  }
  
  .main {
    padding-top: 50px;
    background-color: white;
    color: var(--gris-fonce);
  }

  .main h1 {
    font-size: 40px;
  }
  .main p {
    font-size: 30px;
    color: black;
  }


  .phone-frame {
    width: 100%;
    max-width: 400px;
    height: calc(9 / 5 * 100px);
    border: 1px  solid #ccc;
    border-radius: 10%;
    overflow: hidden;
  }
  
  .phone-frame iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  @media (min-width: 768px) {
    .hero-columns .col {
        text-align: left;
    }
  }

  .btn {
    border: 2px solid var(--rouge);
    background-color: var(--rouge);
    color: white;
  }
  
  .btn:hover {
    background-color:white;
    color: var(--rouge);
    border: 2px solid var(--rouge);
  }
  .btn:focus {
    background-color: var(--rouge);
  }